.crew {
  background-image: url(../../assets/design/crew/background-crew-mobile.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
  height: auto;
}



.crew .image-container {
  width: 327px;
  height: 223px;
  margin: 30px auto;
}

.crew .image-container img {
  width: 177px;
  height: 222px;
}

.destinations .details {
}


.crew .list li {
  margin: 0 10px;
  opacity: 17%;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--light-grey);
}
.crew .list li.active {
  background-color: var(--white);
  opacity: 100%;
}

.crew .list li:hover {
  background-color: var(--white);
  opacity: 50%;
}


.crew-member {
  font-family: var(--bellefair);
  font-size: 24px;
  margin-top: 10px;
  font-weight: normal;
}

.role {
  font-size: 18px;
  font-family: var(--bellefair);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--light-grey);
}

.crew hr {
  margin-top: -3px;
}

.single-destination-details div {
  display: block;
  margin: 20px auto;
}

.single-destination-details div p,
h3 {
  text-transform: uppercase;
}
.single-destination-details h3 {
  font-family: var(--bellefair);
  font-weight: normal;
  margin: 7px 0;
}
.single-destination-details div > p {
  color: var(--main-white-color);
}

@media (min-width: 369px) {
  .crew {
    padding: 90px 20px 0;
  }
  
 .crew article {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  
  .crew .image-container {
    order: 3;
    width: auto;
    height: auto;
    margin-bottom: 0;
  }

  .crew hr {
     display: none;
  }

  .crew .image-container img {
    width: 60%;
    height: initial;
  }
  
}
