.destinations {
  background-image: url(../../assets//design/destination/background-destination-mobile.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
  height: min(100vh, 100%);
  padding: 90px 20px;
}

article {
  padding-bottom: 20px;
  width: 95%;
  margin: 0 auto;
}

.image-container {
  width: 170px;
  height: 170px;
  margin: 30px auto;
}

.image-container img {
  width: 100%;
}

.title {
  font-family: var(--barlow);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.destinations .details {
}

.destinations .list {
 
  text-transform: uppercase;
}

.destinations .list li {
    margin: 0 10px;
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}
.destinations .list li:hover  {
    border-bottom: 2px solid var(--light-grey);
}
.destinations .list li.active  {
    border-bottom: 2px solid var(--white);
}

.destination-name {
  font-size: 56px;
  font-family: var(--bellefair);
  font-weight: normal;
  text-transform: uppercase;
}

.description {
  font-size: 15px;
  line-height: 1.5;
  color: #d0d6f9;
  text-align: center;
  margin: 20px 0;
  font-family: var(--barlowF);
}

hr {
    border: none;
    height: 1px;
    background-color: #383B4B;
}

.single-destination-details div {
  display: block;
  margin: 20px auto;
}

.single-destination-details div p, h3 {
    text-transform: uppercase;
    
}
.single-destination-details h3 {
    font-family: var(--bellefair);
    font-weight: normal;
    margin: 7px 0;
}
.single-destination-details div>p {
    color: var(--main-white-color) ;
}


/* Tablet */
@media (min-width: 369px) {
  .title {
    text-align: left;
  }
  
  article {
    width: 60%;
  }

  .single-destination-details {
    display: flex;
  }
  

}
