.destinations {
  background-image: url(../../assets//design/destination/background-destination-mobile.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 90px 20px;
}



.image-container {
  width: 170px;
  height: 170px;
  margin: 30px auto;
}

.image-container img {
  width: 100%;
}

.title {
  font-family: var(--barlow);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.destinations .details {
}

.destinations .list {
 
  text-transform: uppercase;
}

.destinations .list li {
    margin: 0 10px;
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}
.destinations .list li:hover  {
    border-bottom: 2px solid var(--light-grey);
}
.destinations .list li.active  {
    border-bottom: 2px solid var(--white);
}

.destination-name {
  font-size: 56px;
  font-family: var(--bellefair);
  font-weight: normal;
  text-transform: uppercase;
}

.description {
  font-size: 15px;
  line-height: 1.5;
  color: #d0d6f9;
  text-align: center;
  margin: 20px 0;
  font-family: var(--barlowF);
}

hr {
    border: none;
    height: 1px;
    background-color: #383B4B;
}

.single-destination-details div {
  display: block;
  margin: 20px auto;
}

.single-destination-details div p, h3 {
    text-transform: uppercase;
    
}
.single-destination-details h3 {
    font-family: var(--bellefair);
    font-weight: normal;
    margin: 7px 0;
}
.single-destination-details div>p {
    color: var(--main-white-color) ;
}


/* Tablet */
@media (min-width: 369px) {
  .destinations {
    background-image: url(../../assets/design/destination/background-destination-tablet.jpg)
    }
  .title {
    text-align: left;
  }
  
  article {
    width: 100%;
  }

  .single-destination-details {
    display: flex;
  }
  

}

/* Desktop */
@media (min-width: 900px) {
  .destinations {
    padding: 100px 120px 20px;
    background-image: url(../../assets/design/destination/background-destination-desktop.jpg)

  }
  
  article {
    width: 80%;
    gap: 80px;
    display: flex;
    text-align: left;
  }

  
  .image-container {
    flex-basis: 35%;
  }
  
  .image-container img {
    width: 100%;
  }
  
  .title {
    text-align: left;
    margin: 30px 0;
    letter-spacing: 4.5px;
  }
  
  .destinations .details {
    flex-basis: 445px;
  }
  
  .destinations .list {
   justify-content: flex-start;
  }
  
  .destinations .list li:first-child {
   margin-left: 0;
  }
  .destinations .list li:hover  {
 
  }
  .destinations .list li.active  {

  }
  
  .destination-name {

  }
  
  .description {
    text-align: left;
  }
  
  hr {
  
  }
  
  .single-destination-details div {
     margin-left: 0;
  }
  
  .single-destination-details div p, h3 {
      
  }
  .single-destination-details h3 {

  }
  .single-destination-details div>p {
  }
  
  

}
